.about{
    color: #201d3a;
    max-width: 1200px;
    align-items: center;
}

.heroimg{
    background-image: url('https://www.exploresquamish.com/files/dmo_experience/lead/GoatRidgeBikers-CC2224x800_0.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    max-width: 1200px;
    height: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
    margin-left: -10px;
}