.login-box{
    width: 50vw;
    max-width:300px;
    min-width: 250px;
    max-height: 450px;
    min-height:250px;
    height: 35vw;
    background-color: #201d3a;
    color: white;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-values{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    height: 30vw;
    max-height: 350px;
    min-height: 200px;
    padding: 20px;
}

input{
    width: 200px;
    height: 15px;
    border: none;
}

button{
    width: 100px;
    background-color: #4cb69f;
    border: none;
    color: white;
    border-radius: 3px;
    font-size: .75em;
    height: 18px;
}

.link{
    width: 100px;
    background-color: #4cb69f;
    border: none;
    color: white;
    border-radius: 3px;
    text-decoration: none;
    font-size: .75em;
    height: 18px;
}